@model CheckoutViewModel

<div class="container-xl">

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6">

                <div class="mb-3">
                    <div class="row align-items-baseline">
                        <label asp-for="CustomerInfo.FirstName" class="form-label col-sm-4"></label>
                        <div class="col-sm-8">
                            <input asp-for="CustomerInfo.FirstName" class="form-control" />
                            <span asp-validation-for="CustomerInfo.FirstName" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="row align-items-baseline">
                        <label asp-for="CustomerInfo.LastName" class="form-label col-sm-4"></label>
                        <div class="col-sm-8">
                            <input asp-for="CustomerInfo.LastName" class="form-control" />
                            <span asp-validation-for="CustomerInfo.LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="row align-items-baseline">
                        <label asp-for="CustomerInfo.Phone" class="form-label col-sm-4"></label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <div class="input-group-text">+380</div>
                                <input asp-for="CustomerInfo.Phone" class="form-control" />
                            </div>
                            <span asp-validation-for="CustomerInfo.Phone" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="row align-items-baseline">
                        <label asp-for="CustomerInfo.Email" class="form-label col-sm-4"></label>
                        <div class="col-sm-8">
                            <input asp-for="CustomerInfo.Email" class="form-control" />
                            <span asp-validation-for="CustomerInfo.Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-6">

                <div class="mb-3">
                    <div class="row align-items-baseline">
                        <label asp-for="CustomerInfo.AddressRegion" class="form-label col-sm-4"></label>
                        <div class="col-sm-8">
                            <input asp-for="CustomerInfo.AddressRegion" class="form-control" />
                            <span asp-validation-for="CustomerInfo.AddressRegion" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="row align-items-baseline">
                        <label asp-for="CustomerInfo.AddressCity" class="form-label col-sm-4"></label>
                        <div class="col-sm-8">
                            <input asp-for="CustomerInfo.AddressCity" class="form-control" />
                            <span asp-validation-for="CustomerInfo.AddressCity" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="row align-items-baseline">
                        <label asp-for="CustomerInfo.AddressStreet" class="form-label col-sm-4"></label>
                        <div class="col-sm-8">
                            <input asp-for="CustomerInfo.AddressStreet" class="form-control" />
                            <span asp-validation-for="CustomerInfo.AddressStreet" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="row align-items-baseline">
                        <label asp-for="CustomerInfo.AddressHouse" class="form-label col-sm-4"></label>
                        <div class="col-sm-8">
                            <input asp-for="CustomerInfo.AddressHouse" class="form-control" />
                            <span asp-validation-for="CustomerInfo.AddressHouse" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="row align-items-baseline">
                        <label asp-for="CustomerInfo.AddressFlat" class="form-label col-sm-4"></label>
                        <div class="col-sm-8">
                            <input asp-for="CustomerInfo.AddressFlat" class="form-control" />
                            <span asp-validation-for="CustomerInfo.AddressFlat" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="row align-items-baseline">
                        <label asp-for="CustomerInfo.AddressPostalCode" class="form-label col-sm-4"></label>
                        <div class="col-sm-8">
                            <input asp-for="CustomerInfo.AddressPostalCode" class="form-control" />
                            <span asp-validation-for="CustomerInfo.AddressPostalCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="d-grid d-sm-block gap-1">

            @if (Model.ReturnUrl != null)
            {
                <a href="@Model.ReturnUrl" class="btn btn-outline-primary">Продовжити купувати</a>
            }
            <button type="submit" class="btn btn-warning">Обрати спосіб сплати</button>
        </div>
    </form>

</div>